/*For Default tag*/
*{
    font-size: 18px;
}
div{
    display: block;
    overflow: hidden;
}
a, a:hover{
    text-decoration: none;
    color: #2b669a;
}
/*For All From*/
.main-body {
    background: #6498FE;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    margin: 10px auto;
    width: 750px;
    color: white;
}
.header {
    height: 100px;
    width: 100%;
    background: #337AB7;
    text-align: center;
    overflow: hidden;
}
.header h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.notification {
    height: 70px;
    width: auto;
    padding: 10px;
}
.message h3{
    font-size: 25px;
    color: #49ff4b;
}
form {
    padding : 0 100px 50px;
    color: white;
}
/*For image/create.php*/
.file {
    width: 250px;
    margin: 5px auto;
}
.file-group{
    margin: 30px;
}

/*For hobbies/create.php*/
.all-check-box {
    height: auto;
    width: 200px;
    margin: 0 auto 15px 220px;
}
.all-check-box input[type="checkbox"] {
    margin: 10px;
}
/*For city/create.php*/
.selectPenal{
    color: black;
    text-align: center;
}
.selectPenal select{
    width: 250px;
    margin: 25px auto;
}

/*For Index.PHP*/
body{
    background: url(../../../../resource/images/bac.jpg);
}
.site_body{
    background: url(../../../../resource/images/headBG.png) repeat-x scroll center bottom;
}
.main-content{
    width: 1200px;
    margin: 0 auto;
    background: #D7D8B4;
    border-radius: 0 0 20px 20px;
}
.head{
    border-top: 5px solid #facb00;
    background: url(../../../../resource/images/headBG.png);
    text-align: center;
    height: 150px;
}
.head h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.all-item {
    height: auto;
    width: 1000px;
    margin: 0 auto;
}
.project-block {
    height: 150px;
    width: 150px;
    background: #a1de7d;
    border-radius: 10%;
    text-align: center;
    float: left;
    margin: 15px 50px;
}
.project-block img {
    margin-top: 25px;
    height: 50px;
    width: auto;
}
.description {
    height: auto;
    width: 700px;
    margin: 30px auto;
    background: white;
    padding: 15px 0;
    border-radius: 20px;
    color: brown;
    font-weight: bold;
}
.Side {
    float: left;
    width: 180px;
    margin-left: 200px;
}